{{ if .Site.Params.backgroundImage }}
<article class="ui raised card dream-card" style="box-shadow: none;">
{{ else }}
<article class="ui card dream-card" style="border: 1px solid #d4d4d5; border-radius: 0; box-shadow: none;" >
{{ end }}
  <a class="ui image" href="{{ .Permalink }}" onmouseenter="mouseOver(this)" onmouseleave="mouseOut(this)">
    <img src="{{ .Params.cover }}" alt="{{ .Title }}" style="border-radius: 0;" />
    <div class="ui dimmer" style="transition: all 4s ease;">
      <div class="content">
        <h2>{{.Title}}</h2>
        <div>{{ .Summary | plainify | htmlUnescape }}</div>
      </div>
    </div>
    <script>
      function mouseOver(x) {
        $(x).dimmer('show');
      }

      function mouseOut(x) {
        $(x).dimmer('hide');
      }
    </script>
  </a>
</article>
